
.senderOwn {
    -fx-fill: blue;
	-fx-font-weight: bold;
}

.senderTwitch {
    -fx-fill: forestgreen;
	-fx-font-weight: bold;
}

.senderUser{
    -fx-fill: red;
	-fx-font-weight: bold;
}

.senderBot {
    -fx-fill: peru;
	-fx-font-weight: bold;
}