.paragraphOdd {
    -fx-background-color: rgb(200, 200, 200);
}

.paragraphEven {
    -fx-background-color: rgb(217, 217, 217);
}

.senderOwn {
    -fx-fill: blue;
	-fx-font-weight: bold;
}

.senderTwitch {
    -fx-fill: forestgreen;
	-fx-font-weight: bold;
}

.senderUser{
    -fx-fill: red;
	-fx-font-weight: bold;
}
